@font-face {
	font-family: PKMNRBYGSC;
	src: url(PKMN_RBYGSC.ttf);
}
* {
    font-family: PKMNRBYGSC;
}
.object-fit {
    height: 40vh;
    object-fit: contain;
}
.product-detail {
    width: 100%;
    height: 60vh;
    object-fit: contain;
}
.card:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}
.nav-link:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}
.navbar-brand:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}
.checkoutButtons {
    display: flex;
    justify-content: space-between;
}
.hero {
    cursor: default;
}
.min-card {
    min-height: 250px;
    min-width: 230px;
    border-radius: 10px;
    margin: 0 auto;
}
.zoom {
    transition: transform .2s;
    margin: 50px;
}
.zoom:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
}
.list-padding {
    padding-top: 20px;
    padding-bottom: 100px;



}
