@font-face {
	font-family: PKMNRBYGSC;
	src: url(PKMN_RBYGSC.ttf);
}
* {
    font-family: PKMNRBYGSC;
}
.object-fit {
    height: 40vh;
    object-fit: contain;
}
.product-detail {
    width: 100%;
    height: 60vh;
    object-fit: contain;
}
.card:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}
.nav-link:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}
.navbar-brand:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}
.checkoutButtons {
    display: flex;
    justify-content: space-between;
}
.hero {
    cursor: default;
}
.min-card {
    min-height: 327px;
    min-width: 317px;
}
