
.image-container {
  width: 18rem;

  justify-content: center;
  align-items: baseline;

}
.card-width {
  width: 18rem;

}
.img-dimensions {
  height: 148px;
  width: 113px;

  object-fit: scale-down;
}
